NODE_ENV=development
API_PORT=4000
APP_BASE_URL=http://localhost:3000
API_BASE_URL=http://localhost:4000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/flyntos
REDIS_URL=redis://localhost:6379
