PORT=4000
APP_BASE_URL=http://localhost:3000
ALLOWED_REDIRECT_ORIGINS=http://localhost:3000,https://example.com,https://aviasales.ru,https://travel.yandex.ru
TP_API_TOKEN=8816890846e8cd4c158fb2e4ac78d018
